<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Table on Plain Background</h4>
                    <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                            <th>Domain Name</th>
                            <th>Actions</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let emailDomainName of emailDomain">
                                <td>{{emailDomainName.domainName}}</td>
                                <td><button (click)="deleteDomainName(emailDomainName.id)" class="btn btn-danger">Delete</button>
                                    <button (click)="updateDomainName(emailDomainName.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                                    <button (click)="domainNameDetails(emailDomainName.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
