<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Email Domain</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Domain Name</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let emailDomainName of emailDomain">
                                    <td>{{emailDomainName.domainName}}</td>
                                    <!-- <td><button (click)="deleteDomainName(emailDomainName.id)" class="btn btn-danger">Delete</button>
                                         <button (click)="updateDomainName(emailDomainName.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                                         <button (click)="domainNameDetails(emailDomainName.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                                     </td>-->
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
